<!-- Nuevos datos registrados -->
{% extends 'principal.html' %}

{% block content %}
  <table width="70%" align="center">
  	<tr>
		<td align="center"><img height="70px" src="{{url_for('static',filename='img/logo.png')}}" /><br />
		<h1 align="center">Escuela Superior de Ingenier&iacute;a y Tecnolog&iacute;a</h1></td>
	</tr>
	<tr>
		<td align="center">
			<p>Tesis<br />
				<strong>"Desarrollo de un prototipo para el an&aacute;lisis, procesado y visualizaci&oacute;n de datos empleando t&eacute;cnicas de Big Data"</strong>
			</p>
			<p>
				Autor:<br />
				Oswaldo Wiston Pin Figueroa<br />
				<br /><br />
				Para optar el T&iacute;tulo Profesional de<br />
				<strong>M&aacute;ster Universitario en An&aacute;lisis y Visualizaci&oacute;n de Datos Masivos/<br />
				<em>Visual Analytics and Big Data</em></strong>
			</p>
			<p>Guayaquil, Ecuador 2025
			</p>
	  </td>
	</tr>
  </table>
{% endblock %}